
node_modules
jspm_packages

.serverless
.build
.nyc_output
coverage
package-lock.json
out-logger.json
.DS_Store

.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
